*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/portada2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
  }
  
.contenedor{
  position: relative;
  width: 90%;
  height: 85%;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  backdrop-filter: blur(18px);
  border: 2px solid white;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45,55,68,0.0.3);
  line-height: 1.5;
}

.caja{
  width: 90%;
  height: 99%;
  margin-left: auto;
  margin-right: auto;
}

h4{
  color: blue;
  font-family: fantasy;
  font-size: 20px;
}
img{
  width: 120px;
}

  h1 {
    font-size: 35px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 800;
  }
  
  p {
    font-size: 25px;
  color:#fff;
}

  input {
  
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px;
    font-size: 22px;
    font-family: Arial, sans-serif;
    transition: 2s;
    cursor: pointer;
    font-weight: 700;
    color: white;
  }

  input:hover{
    background-color: #09c6d0;
    color: #fff;
  }
  
  #nombreIngresado{
    width:250px;
  }

  #numeroEntrada{
    width:100px;
  }
  button {
    position: relative;
    display: inline-block;
    border: 2px solid white;
    border-radius: 30px;
    margin:20px;
    padding: 9px 12px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    transition: 2s;
  }
  button:hover{
    background-color: rgb(24, 180, 21);
  }

  #mensaje {
    color: rgb(106, 185, 9);
    font-family: fantasy;
    font-size: 25px;
    margin: 20px;
  }
  
#intento{
  color: red;
  font-size: 30px;
}

img{
  width: 100px;
}

.gif{
  width: 50px
}
.gif1{
  width: 200px;
}

.gif4{
  width: 100px;
}
.gif5{
  width: 350px;
}

span{
  color: #fff;
  font-family: fantasy;
}






@media (max-width: 550px) {
  
  body {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}


.contenedor {
    margin: 40px;
    margin-left: 43px;
    width: 350px;
    height: 800px;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(11px);
    border: 2px solid trasparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.0.3);
    line-height: 1.5;
} 
h1 {
  margin: 10px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

h4{

  color: blue;
}
img{
  width: 35px;
}

.gif1{
  width: 100px;
}
.gif4{
  width: 35px;
  
}

.gif5{
  width: 150px;
}

}



